<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>Create Todo</h1>
        <form #f="ngForm" (ngSubmit)="addTodo(f.value)">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" ngModel>
            </div>
            <div class="form-group">
              <label for="textarea">Description</label>
              <textarea class="form-control" id="textarea" name="text" rows="3" ngModel></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
  </div>
</div>